{% extends 'base.html' %}

{% block title %}{% if object %}Editar Categoria{% else %}Adicionar Categoria{% endif %}{% endblock %}

{% block content %}
<main class="px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% if object %}Editar Categoria{% else %}Adicionar Categoria{% endif %}</h1>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.nome.id_for_label }}" class="form-label">{{ form.nome.label }}</label>
                    {{ form.nome }}
                    {{ form.nome.errors }}
                </div>
                <div class="card-footer bg-white text-end px-0 pt-3">
                    <a href="{% url 'categoria_gasto_list' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}