<!-- ========================================================================== -->
<!-- ARQUIVO: templates/gestao/reserva_confirm_delete.html                      -->
<!-- ========================================================================== -->
{% extends 'base.html' %}
{% block title %}Confirmar Exclusão{% endblock %}
{% block content %}
<main class="px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Confirmar Exclusão</h1>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <p>Você tem certeza que deseja EXCLUIR a reserva para o cliente <strong>"{{ reserva.cliente.nome_completo }}"</strong> na acomodação <strong>"{{ reserva.acomodacao }}"</strong>?</p>
            <p class="text-danger">Esta ação não pode ser desfeita.</p>
            <form method="post">
                {% csrf_token %}
                <hr>
                <button type="submit" class="btn btn-danger">Sim, quero excluir</button>
                <a href="{% url 'reserva_list' %}" class="btn btn-secondary">Voltar</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}