<!-- ========================================================================== -->
<!-- ARQUIVO: templates/gestao/vaga_estacionamento_confirm_delete.html          -->
<!-- ========================================================================== -->
{% extends 'base.html' %}
{% block title %}Confirmar Exclusão{% endblock %}
{% block content %}
<main class="px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Confirmar Exclusão</h1>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <p>Você tem certeza que deseja excluir a vaga de estacionamento <strong>"{{ vaga.numero_vaga }}"</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <hr>
                <button type="submit" class="btn btn-danger">Sim, confirmar exclusão</button>
                <a href="{% url 'vaga_estacionamento_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}